* {
  box-sizing: border-box;
}
.game {
  width: 400px;
  margin: 0 auto;
  text-align: center;
}
.output {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  line-height: 2em;
  border: 1px solid black;
}
.button {
  padding: 5px 20px;
}
.display-score {
  display: inline-block;
  width: 150px;
  margin: 20px;
}
div.display-score p {
  border: 1px solid black;
  height: 50px;
  line-height: 50px;
}
